/node_modules
/public/hot
/public/storage
/public/img/slider/*
/public/img/pages/about/*
!/public/img/slider/coworkers.svg
!/public/img/pages/about/default.png
/storage/*.key
/storage/debugbar/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
.phpstorm.meta.php
