:root {
    --royal-blue: #3864DF;
    --app-orange: #FF6537;
    --animation-time: 2s;
    --app-max-width: 1232px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E3E3E3;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E3E3E3;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #E3E3E3;
}

* {
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow-y: scroll;
    color: #000000;
}

footer {
    background: #F5F5F7;
    min-height: 250px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

footer ul {
    line-height: 25px;
    min-height: 150px;;
}

footer h2 {
    margin-bottom: 25px;
}

footer li {
    color: #31302E;
    font-size: 15px;
    font-weight: 600;
}

footer a,
footer a:hover {
    color: #31302E;
    font-size: 15px;
    font-weight: 600;
}

footer ul > li.social a:hover {
    text-decoration: none;
    color: var(--app-orange);
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

.text-underline {
    text-decoration: underline;
}

.select_box {
    width: 180px;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
    padding: 10px 0;
    background: #F5F5F7;
}

.select_box:after {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 12px solid var(--app-orange);
    position: absolute;
    top: 36%;
    right: 0px;
    content: "";
    z-index: 1;
}

.select_box > select {
    width: 100%;
    border: 0;
    position: relative;
    border: none;
    background: none;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #333333;
    /*padding: 0.5em 3.5em 0.5em 0;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    z-index: 2;
}

.select__block {
    background: #F5F5F7;
    border-radius: 5px;
    margin: 100px 0;
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .social > a {
    margin-right: 20px;
    color: #7F7F7F;
}

footer > div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

footer ul:last-child {
    max-width: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 52px;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

h3, .h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #454442;
    margin: 0;
}

hr {
    width: 223px;
    height: 0px;
    border: 1px solid var(--app-orange);
    margin: 7px 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

ol.history {
    display: flex;
    list-style-type: disclosure-closed;
    margin: 40px 0 30px 0;
}

ol.history li {
    color: #7F7F7F;
    font-size: 12px;
    line-height: 15px;
    margin-right: 25px;
}

ol.history li:last-child {
    color: #333333;
}

ol.history li a {
    color: inherit;
}

ol.history li:first-child {
    list-style-type: none;
}

button, input {
    outline: none;
    border: none;
}

.modal * {
    border-radius: 0 !important;
}

.modal-content h1.modal-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 15px;
}

.modal-content p.modal-desc {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #454442;
    margin-bottom: 25px;
}

.modal-body {
    padding: 0 50px 50px 50px;
}

.modal-body button.appButton {
    margin-top: 30px;
    width: 240px;
    padding: 20px;
}

.modal-body input:not([type=checkbox]),
.modal-body textarea {
    padding: 30px;
    border: none;
    background: #F5F5F7;
}

.modal-body input[type=checkbox] {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    margin: 0 16px 0 27px;
}

.modal-body textarea {
    padding-top: 18px;
    min-height: 140px;
}

.modal-body label[for=agree] {
    font-size: 14px;
    font-weight: 400;
    color: #7F7F7F;
}

.modal-dialog {
    max-width: 600px;
}

.modal-header, .modal-footer {
    border: none;
}

.bg-blue {
    background-color: var(--royal-blue);
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    height: 62px;
}

header * {
    font-size: 13px;
    line-height: 16px;
}

header ul, section.map ul {
    display: flex;
    margin: 0 !important;
}

header ul, section.map ul {
    list-style-type: none;
}

header ul > li a, section.map ul > li a {
    list-style-type: none;
    transition: 0.2s all;
}

header ul > li:not(:last-child) {
    padding-right: 35px;
}

section.map {
    display: flex;
    align-items: center;
    height: 72px;
}

header .menu-mobile {
    display: none;
}

header .menu-mobile button.search-2,
header .menu-mobile button.navbar-button {
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 30px;
    border: none;
    background: #FFFFFF;
}

header .menu-mobile button.search-2 {
    justify-content: center;
    margin-right: 25px;
}

header .menu-mobile button.navbar-button {
    flex-direction: column;
    justify-content: space-around;
}

header button.navbar-button > span {
    background: var(--app-orange);
    width: 100%;
    height: 5px;
}

section.map * {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #31302E;
}

section.map ul > li:not(:last-child) {
    padding-right: 49px;
}

header ul li a {
    color: #7A7978;
}

header ul li a:hover, header ul li a.active {
    text-decoration: none;
    color: var(--royal-blue);
    font-weight: 700;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header label.search-head-lg {
    position: relative;
    width: 225px;
    height: auto;
    margin-right: 34px;
}

header label.search-head-lg input {
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #E3E3E3;
    padding-left: 20px;
}

header label.search-head-lg img {
    position: absolute;
    top: 12px;
    left: 0;

}

header label.search-head-lg input:focus {
    border-bottom: 1px solid var(--royal-blue);
}

#navbarMenu {
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 20px 20px 0px #00000117;
}

.appButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: var(--app-orange);
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color 250ms;
    max-height: 55px;
    z-index: 1;
    white-space: nowrap;
}

.appButton:hover {
    text-decoration: none;
    background: #d9512e;
    color: #FFFFFF;
}

.appButton.appButton-bold {
    padding: 20px 35px;
}

.appButton.appButton-block {
    display: flex;
    width: 100%;
}

section.slider {
    position: relative;
    height: 350px;
    overflow: hidden;
    color: #FFFFFF;
}

section.slider img {
    max-width: 525px;
    max-height: 350px;
    object-fit: cover;
}

section.slider p {
    margin: 13px 0 35px 0;
    color: rgba(255, 255, 255, 0.8);
    /*max-height: 105px;*/
    /*overflow: hidden;*/
    /*-o-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 4;*/
    /*-webkit-box-orient: vertical;*/
}

.carousel-control-prev,
.carousel-control-next {
    color: #5a6268;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:target,
.carousel-control-next:active {
    color: var(--app-orange);
}

section.slider .carousel-control-prev {
    left: -51px;
}

section.slider .carousel-control-next {
    right: -51px;
}

span.carousel-control-prev-icon {
    background-image: url("../img/icon/slider-button.svg");
}

span.carousel-control-next-icon {
    background-image: url("../img/icon/slider-button.svg");
    transform: rotate(-180deg);
}

section.slider .carousel-control-next-icon,
section.slider .carousel-control-prev-icon {
    height: 35px;
}

section.slider .carousel-control-next,
section.slider .carousel-control-prev {
    opacity: 1;
}

ol.carousel-indicators li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
}

ol.carousel-indicators > li.active {
    background-color: var(--app-orange) !important;
    opacity: 1;
}

svg.icon-left {
    transform: rotate(180deg);
}

svg.icon-right,
svg.icon-left {
    width: 15px;
    height: 24px;
}

.icon-right-white,
.icon-right-orange {
    display: block;
    width: 7px;
    height: 14px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.appButton .icon-right-white,
.appButton .icon-right-orange {
    margin-left: 20px;
}

.icon-right-white {
    background-image: url(../img/icon/icon-button.svg);
}

.icon-right-orange {
    transform: rotate(180deg);
    background-image: url(../img/icon/slider-button.svg);
}

.cross-item {
    background-image: url(../img/icon/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 31px;
    height: 31px;
    /*animation: crossAnimation var(--animation-time) ease alternate infinite;*/
}

section.slider .cross-item:nth-child(1) {
    background-size: 12px;
    left: 3%;
    top: 3%;
}

section.slider .cross-item:nth-child(2) {
    background-size: 17px;
    left: 40%;
    top: 90%;
}

section.slider .cross-item:nth-child(3) {
    background-size: 15px;
    left: 55%;
    top: 10%;
}

section.slider .cross-item:nth-child(4) {
    background-size: 25px;
    left: 57%;
    top: 75%;
}

section.slider .cross-item:nth-child(5) {
    background-size: 12px;
    left: 84%;
    top: 6%;
}

.cross-block {
    position: relative;
}

.ellipse-block {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 120px;

}

.ellipse-item {
    width: 4px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 1px;
}

section.slider #carousel,
section.slider .carousel-inner,
select.slider .carousel-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

section.slider .ellipse-block {
    top: 15%;
    right: 0;
}

section.slider .slider__text-block {
    margin-top: 45px;
}

.mt-100 {
    margin-top: 100px;
}

.proposal {
    margin-top: 100px;
    /*margin-bottom: 100px;*/
    border-radius: 10px;
    height: 255px;
    position: relative;
    padding: 0 52px 0 104px;
    overflow: hidden;
}

.proposal input {
    padding: 17px 20px;
    border-radius: 5px;
}

.proposal img {
    max-width: 440px;
    max-height: 255px;
    object-fit: contain;
}

.proposal .ellipse-block {
    max-width: 35px;
    left: 5px;
    top: 30%;
}

.proposal span {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--app-orange);
}

.proposal h1 {
    color: #FFFFFF;
}

.proposal form {
    margin-top: 30px;
}

.proposal form button[type=submit],
.proposal form input {
    width: 292px;
}

.proposal form button[type=submit] {
    margin-left: 50px;
}

.proposal .cross-item:nth-child(1) {
    background-size: 25px;
    left: 2%;
    top: 5%;
}

.proposal .cross-item:nth-child(2) {
    background-size: 8px;
    left: 5%;
    top: 85%;
}

.proposal .cross-item:nth-child(3) {
    background-size: 11px;
    left: 58%;
    top: 15%;
}

.proposal .cross-item:nth-child(4) {
    background-size: 15px;
    left: 95%;
    top: 10%;
}

main .block-1 {
    width: 810px;
    height: 100%;
}

main .block-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .block-1 .about-block {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    width: 100%;
    height: 398px;
}

.about-block > p {
    overflow-y: scroll;
}

.about .proposal {
    margin: 50px 0;
}

main .block-1 .about-block div.img-container {
    position: relative;
}

main .block-1 .about-block div.img-container .ellipse-block {
    max-width: 35px;
    left: 70%;
    top: 0;
}

main .block-1 div.advantage-block {
    flex-basis: 100%;
    margin-top: 100px;
}

main .block-1 > div > p,
main .block-1 > div > div.body {
    max-width: 520px;
    margin: 40px 0;
}

main .block-1 > div > p.w-100,
main .block-1 > div > div.w-100.mt-40.mb-40 {
    max-width: 100%;
    margin: 40px 0;
}

main .block-1 .about-block div.img-container .cross-item:nth-child(1) {
    background-size: 25px;
    left: 5%;
    top: 90%;
}

main .block-1 .about-block div.img-container .cross-item:nth-child(2) {
    background-size: 11px;
    left: 30%;
    top: 15%;
}

main .block-1 .about-block div.img-container .cross-item:nth-child(3) {
    background-size: 15px;
    left: 92%;
    top: 0;
}

main .block-1 .about-block > * {
    width: 50%;
}

main .block-1 .about-block div.text-container > p {
    margin: 40px 0;
}

main .block-1 .about-block div.img-container {
    max-width: 401px;
    max-height: 397px;
    min-height: 397px;
}

.about-block .img-container.w-100 {
    max-width: 100% !important;
}

main .block-1 .about-block div.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

main .block-2 {
    display: none;
}

main .block-2 > h2 {
    margin: 57px 0 19px 0;
}

.block__item {
    width: 292px;
    height: 332px;
    max-height: 332px;
    border-radius: 5px;
    background: #F5F5F7;
    overflow: hidden;
}

main .block-2 .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block__item > img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.block__item > div {
    padding: 15px;
    max-width: 100%;
    height: calc(100% - 140px);
}

.block__item > div > h3 {
    margin: 0;
    min-height: 35px;
}

.block__item hr {
    width: 223px;
    height: 0px;
    border: 1px solid #FF6537;
    margin: 7px 0;
}

.block__item > div > p {
    max-height: 72px;
    min-height: 72px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0;
    color: #454442;
}

.block__item > div > a {
    font-weight: 600;
    font-size: 15px;
    color: var(--app-orange);
    display: flex;
    align-items: center;
    float: right;
    margin-top: 20px;
}

.app-carousel .carousel-control-next,
.app-carousel .carousel-control-prev {
    position: static;
    display: inline-block;
}

.app-carousel .carousel-control-next {
    margin-left: 65px;
}

.block__item > div > a > i.icon-right-orange {
    margin-left: 10px;
}

.container.blog .block__item,
.container.news .block__item {
    /*margin-right: 15px;*/
    margin-bottom: 20px;
}

main .block-2 .social {
    margin-bottom: 50px;
}

main .block-2 .social a {
    color: #000000;
}

main .block-2 .social a > i::before {
    font-size: 35px;
}

main .block-2 .social a:hover {
    color: var(--app-orange);
}

svg.youtube, svg.vk {
    fill: #000000;
}

svg.youtube:hover, svg.vk:hover {
    fill: var(--app-orange);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    align-content: space-between;
}

.flex-container > .flex-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.advantage-block .flex-container > .flex-item svg {
    fill: var(--app-orange);
    width: 44px;
    height: 44px;
}

.services-block {
    width: 100%;
    margin-top: 100px;
    height: auto;
}

.services-block .flex-container {
    flex-direction: column;
    height: 404px;

}

.services-block .flex-container > .flex-item {
    width: 472px;
    height: 177px;
}

.services-block .flex-container > .flex-item h2,
.all-services-block .flex-container > .flex-item h2 {
    max-width: 170px;
}

.services-block .flex-container > .flex-item a,
.all-services-block .flex-container > .flex-item a {
    color: var(--app-orange);
}

.flex-container > .flex-item:after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms all;
    transform: scale(1.1);
}

.services-block .flex-container > .flex-item:hover *,
.services-block .flex-container > .flex-item:hover:after,
.all-services-block .flex-container > .flex-item:hover *,
.all-services-block .flex-container > .flex-item:hover:after {
    opacity: 1;
    color: #FFFFFF;
    transform: scale(1);
}

.services-block .flex-container > .flex-item:nth-child(1) {
    width: 293px;
    height: 404px;
}

.services-block .flex-container > .flex-item:nth-child(1):after {
    background: url("../img/items/mask-group-2.png") no-repeat;
    background-size: cover;
}

.services-block .flex-container > .flex-item:nth-child(2):after {
    background: url("../img/items/man-talking-therapist.png") no-repeat;
    background-size: cover;
}

.services-block .flex-container > .flex-item:nth-child(3):after {
    background: url("../img/items/mask-group.png") no-repeat;
    background-size: cover;
}

.all-services-block .flex-container > .flex-item:after {
    background: url("../img/items/mask-group-2.png") no-repeat;
    background-size: cover;
}

.advantage-block .flex-container {
    /*min-height: 525px;*/
}

.advantage-block .flex-container > .flex-item {
    background: #F5F5F7;
    width: 238px;
    height: 238px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding: 50px;
}

.advantage-block .flex-container > .flex-item > .cross-item:nth-child(1) {
    background-size: 15px;
    left: 8%;
    top: 84%;
}

.advantage-block .flex-container > .flex-item > .cross-item:nth-child(2) {
    background-size: 10px;
    left: 25%;
    top: 25%;
}

.advantage-block .flex-container > .flex-item > .cross-item:nth-child(3) {
    background-size: 25px;
    left: 80%;
    top: 5%;
}

.advantage-block .flex-container > .flex-item:hover,
.advantage-block .flex-container > .flex-item:hover svg {
    background: var(--royal-blue);
    fill: #FFFFFF;
    transition: 100ms all;
    padding: 0;
}

.advantage-block .flex-container > .flex-item:hover svg {
    width: 84px;
    height: 84px;
}

.advantage-block .flex-container > .flex-item:hover a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.advantage-block .flex-container > .flex-item:hover h3 {
    display: none;
}

.advantage-block .flex-container > .flex-item .cross-item {
    display: none;
}

.advantage-block .flex-container > .flex-item:hover .cross-item {
    display: block;
}

.search-list {
    /*visibility: visible;*/
    z-index: 1;
    position: absolute;
    max-height: 195px;
    width: 100%;
    overflow-y: scroll;
    left: 0;
    /*opacity: 1;*/
    /*transition: all 2s linear;*/
    /*display: block;*/
    /*transition: visibility 0s, opacity 0.5s linear;*/

    transition: opacity 200ms linear;
    transform:translate(0);
    opacity: 1;
}

.menu-mobile > .dropdown-menu {
    width: 97%;
    top: 15px !important;
}

.search-list-mob {
    width: 100%;
    top: 62px;
}

.search-list.close {
    /*opacity: 0;*/
    /*z-index: 0;*/
    transform:translate(9999px);
    opacity: 0;
}

.all-services-block,
.treatment-stages-block,
.request-block,
.cases-block {
    width: 100%;
    margin-top: 100px;
    flex-grow: 1;
}

.all-services-block .carousel .carousel-control-prev,
.request-block .carousel .carousel-control-prev,
.cases-block .carousel .carousel-control-prev,
.app-carousel.carousel .carousel-control-prev {
    left: inherit;
    right: 65px;
}

.all-services-block #carousel-all-services .flex-item {
    width: 30%;
    height: 238px;
    margin-bottom: 50px;
}

.all-services-block .carousel .carousel-control-next,
.all-services-block .carousel .carousel-control-prev,
.request-block .carousel .carousel-control-next,
.request-block .carousel .carousel-control-prev,
.cases-block .carousel .carousel-control-next,
.cases-block .carousel .carousel-control-prev,
.carousel.app-carousel .carousel-control-next,
.carousel.app-carousel .carousel-control-prev {
    top: inherit;
    bottom: 0;
    width: auto;
    color: #5a6268;
}

.all-services-block .carousel .carousel-control-next:hover,
.all-services-block .carousel .carousel-control-prev:hover,
.all-services-block .carousel .carousel-control-next:focus,
.all-services-block .carousel .carousel-control-prev:focus,
.request-block .carousel-control-next:hover,
.request-block .carousel .carousel-control-prev:hover,
.request-block .carousel .carousel-control-next:focus,
.request-block .carousel .carousel-control-prev:focus,
.cases-block .carousel-control-next:hover,
.cases-block .carousel .carousel-control-prev:hover,
.cases-block .carousel .carousel-control-next:focus,
.cases-block .carousel .carousel-control-prev:focus,
.app-carousel.carousel-control-next:hover,
.app-carousel.carousel .carousel-control-prev:hover,
.app-carousel.carousel .carousel-control-next:focus,
.app-carousel.carousel .carousel-control-prev:focus {
    color: var(--app-orange);
}

.request-block .carousel-item,
.cases-block .carousel-item {
    margin-bottom: 45px;
}

.treatment-stages-block .flex-container {
    flex-direction: column;
}

.treatment-stages-block {
    min-height: 580px;
    position: relative;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.timeline {
    list-style-type: none;
    counter-reset: index;
    position: relative;
    margin-left: 9%;
}

ul.timeline h2 {
    line-height: 17px;
    color: var(--app-orange);
    text-transform: uppercase;
}

ul.timeline > li > ul > li {
    text-decoration: underline;
    color: var(--royal-blue);
    line-height: 22px;
}

ul.timeline > li > ul {
    padding: 40px 0;
}

ul.timeline > li {
    counter-increment: index;
    min-height: 100px;
}

ul.timeline > li {
    border-left: 2px solid var(--app-orange);
    position: relative;
    padding-left: 20px;
}

ul.timeline > li:after {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--app-orange);
    border: 2px solid var(--app-orange);
    border-radius: 50%;
    position: absolute;
    left: -7.5px;
    top: 0px;
}

/*ul.timeline > li:nth-child(1):before {*/
/*    content: "01";*/
/*}*/

/*ul.timeline > li:nth-child(2):before {*/
/*    content: "02";*/
/*}*/

/*ul.timeline > li:nth-child(3):before {*/
/*    content: "03";*/
/*}*/

/*ul.timeline > li:nth-child(4):before {*/
/*    content: "04";*/
/*}*/

/*ul.timeline > li:nth-child(5):before {*/
/*    content: "05";*/
/*}*/

/*ul.timeline > li:nth-child(6):before {*/
/*    content: "06";*/
/*}*/

ul.timeline > li:before {
    content: counters(index, ".", decimal-leading-zero);
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    left: -80px;
    top: -30px;
    color: var(--app-orange);
}

.request-block,
.cases-block {
    position: relative;
}

.request-item,
.cases-item {
    padding: 50px;
    background: #F5F5F7;
    border-radius: 10px;
    min-height: 320px;
    position: relative;
}

.cases-item {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    min-height: 290px;
}

.cases-item > div {
    padding: 45px;
    width: auto;
    flex: 1;
}

.request-item img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.cases-item img {
    width: 293px;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.cases-item div.body,
.request-item > p,
.cases-item > p {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.cases-item > div > p {
    max-width: 425px;
    margin-top: 20px;
    -webkit-line-clamp: 4;
}

.request-item > div {
    display: flex;
    margin-bottom: 20px;
}

.request-item > div > div > p,
.cases-item > div > div > p {
    color: #7F7F7F;
    padding: 17px 0;
}


.request-item hr,
.cases-item hr {
    width: 100%;
    /*margin: 0;*/
}

.request-item > div > div,
.cases-item > div > div {
    margin-left: 50px;
    max-width: 340px;
    flex: 1;
}

.cases-item > div > div {
    margin-left: 0;
}

.request-item > a {
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
}

.cases-item a {
    color: var(--app-orange);
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
}

.request-item > a > svg,
.cases-item a > svg {
    margin-left: 10px;
}

.text-seo {
    margin: 100px 0;
}

.text-seo p {
    margin: 30px 0;
    max-height: 125px;
    overflow-y: scroll;
}

h1.title {
    margin-bottom: 30px;
}

div.desc {
    max-width: 100%;
}

.desc {
    max-width: 520px;
}

.container.faq .desc {
    max-width: 710px;
}

ul#faq {
    background: #F5F5F7;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
}

ul#faq > li a {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    white-space: nowrap;
}

ul#faq > li a:not(.active) {
    color: #31302E;
}

ul#faq > li a:not(.active) > .cross-item {
    display: none;
}

ul#faq > li a.active {
    background: #3864DF;
}

ul#faq > li a > .cross-item:nth-child(1) {
    background-size: 25px;
    left: 3%;
    top: 59%;
}

ul#faq > li a > .cross-item:nth-child(2) {
    background-size: 10px;
    left: 20%;
    top: 3%;
}

ul#faq > li a > .cross-item:nth-child(3) {
    background-size: 15px;
    left: 90%;
    top: 0%;
}

#faqContent .accordion > .card {
    background-color: #F5F5F7;
    border: none;
    border-radius: 5px;
}


#faqContent .accordion .card:nth-child(2n+1) {
    background-color: #FFFFFF;
}

#faqContent .accordion > .card .card-header {
    max-height: 100px;
}

#faqContent .accordion > .card .card-header,
#faqContent .accordion > .card .card-body {
    display: flex;
    justify-content: space-between;
    padding-left: 108px;
    align-items: center;
    border: none;
}

#faqContent .accordion > .card .card-body {
    min-height: 250px;
    position: relative;
}

#faqContent .accordion > .card .card-header {
    background-color: inherit
}

#faqContent .accordion > .card > .card-header a {
    font-weight: 600;
    font-size: 70px;
    color: #FF6537;
    text-decoration: none;
    min-width: 30px;
    text-align: center;
}

#faqContent .accordion .line {
    width: calc(100% - 15rem);
    position: absolute;
    top: 0;
    border: 1px solid #E3E3E3;
    height: 0;
}

.container.services .category {
    min-width: 397px;
    border: 2px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 5px;
}

.container.services .advantage-block {
    max-width: 818px;
}

.flexbox .box .accordion-container {
    border: 2px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}

.flexbox .advantage-block {
    max-width: 100% !important;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox > .box {
    display: flex;
}

.flexbox > .box:nth-child(1) {
    display: flex;
    width: 397px;
    height: 100%;
}

.flexbox > .box:nth-child(2) {
    display: flex;
    width: 810px;
    flex-direction: column;
}

.flexbox #accordion {
    width: 100%;
    border: none;
    /*padding: 5px;*/
}

.flexbox .box .accordion-container #accordion * {
    border: none;
    background-color: #FFFFFF;
}

.flexbox .box .accordion-container #accordion .card-header * {
    background-color: inherit;
}

.flexbox .box .accordion-container #accordion .card-header button,
.flexbox .box .accordion-container #accordion .card-header a {
    padding: .375rem .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #7F7F7F;
}

.flexbox .box .accordion-container #accordion .card-header button svg {
    color: var(--app-orange);
}

.flexbox .box .accordion-container #accordion .card-header {

    position: relative;
    color: #7F7F7F;
}

.flexbox .box .accordion-container #accordion .line {
    border-bottom: 1px solid #E3E3E3;
    width: calc(100% - 2.5rem);
    height: 0px;
    z-index: 1;
    position: absolute;
    bottom: -1px;
}

.flexbox .box .accordion-container #accordion .card-header:hover *,
.flexbox .box .accordion-container #accordion .card-header:hover,
.flexbox .box .accordion-container #accordion .card-header.active,
.flexbox .box .accordion-container #accordion .card-header.active * {
    background-color: var(--royal-blue);
    cursor: pointer;
    color: #FFFFFF;
    z-index: 2;
}

.flexbox .box .accordion-container #accordion .card-body {
    padding: 20px 25px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.flexbox .box .accordion-container #accordion .card-body .line {
    width: calc(100% - 50px);
}

.flexbox .box .accordion-container #accordion .card-body a {
    color: #333333;
    font-size: 13px;
}

#accordion.service-categories > .card > .card-header > button[data-toggle="collapse"] > svg {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#accordion.service-categories > .card > .card-header.active > button[data-toggle="collapse"] > svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.container.cases .cases-item > div > p {
    max-width: 840px;
}

.container.cases .cases-item {
    position: relative;
    flex-wrap: nowrap;
}

.container.cases .cases-item a {
    color: var(--app-orange);
}

.container.cases .cases-item img {
    display: block !important;
}

.container.prices .table,
.container.prices .table > .thead,
.container.prices .table > .tbody {
    flex: 100%;
    display: flex;
    flex-direction: column;
}

.container.prices .table > .thead > .tr,
.container.prices .table > .tbody > .tr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.container.prices .table .td:not(:nth-child(2)),.container.prices .table .th:not(:nth-child(2)){*/
/*    padding: 40px 85px;*/
/*}*/

/*.container.prices .table .th:nth-child(2),*/
/*.container.prices .table .td:nth-child(2){*/
/*    flex: 1;*/
/*}*/
.container.prices .table .thead > .tr {
    position: relative;
    background-color: var(--royal-blue);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 40px 85px;
}

.container.prices .table .tbody > .tr {
    position: relative;
    color: #171219;
    background-color: #F5F5F7;
    border-radius: 5px;
    padding: 40px 85px;
}

.container.prices .table .tbody > .tr:nth-child(2n+1) {
    background-color: #FFFFFF;
}

.container.prices .table .thead > .tr .cross-item:nth-child(1) {
    background-size: 21px;
    left: 1%;
    bottom: 1%;
}

.container.prices .table .thead > .tr .cross-item:nth-child(2) {
    background-size: 8px;
    left: 5%;
    top: 3%;
}

.container.prices .table .thead > .tr .cross-item:nth-child(3) {
    background-size: 15px;
    left: 30%;
    top: 1%;
}

.container.prices .table .thead > .tr .cross-item:nth-child(4) {
    background-size: 10px;
    left: 40%;
    top: 50%;
}

.container.prices .table .thead > .tr .cross-item:nth-child(5) {
    background-size: 18px;
    right: 21%;
    top: 10%;
}

.container.prices .table .thead > .tr .cross-item:nth-child(6) {
    background-size: 15px;
    right: 1%;
    top: 70%;
}

.th, .td {
    margin-right: 10px;
    width: 10%;
}

.text-gray {
    color: #7F7F7F;
}

.text-orange {
    color: var(--app-orange);
}

.request-form {
    width: 100%;
    /*height: 510px;*/
    background: #3864DF;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    color: #FFFFFF;
    padding: 50px;
    justify-content: space-between;
}

.position-absolute.bottom--15 {
    bottom: -15px
}

.request-form .invalid-feedback {
    margin-bottom: -20px;
}

.request-form > div {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.request-form input:not([type=radio]),
.request-form textarea {
    max-width: 542px;;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 19px 28px;
    min-width: 260px;;
}

.request-form textarea {
    outline: none;
    min-height: 245px;
}

.request-form input[type=radio] {
    width: 25px;
    height: 24px;
}


.request-form .ellipse-block {
    right: 55px;
    top: 0%;
    height: 89px;
}

form.request-form .cross-item:nth-child(1) {
    background-size: 8px;
    left: 1%;
    bottom: 1%;
}

form.request-form .cross-item:nth-child(1) {
    background-size: 8px;
    left: 1%;
    bottom: 1%;
}

form.request-form .cross-item:nth-child(2) {
    background-size: 8px;
    left: 5%;
    top: 3%;
}

form.request-form .cross-item:nth-child(3) {
    background-size: 10px;
    left: 48%;
    top: 39%;
}

form.request-form .cross-item:nth-child(4) {
    background-size: 22px;
    left: 82%;
    top: 50%;
}

.abc.container ul {
    list-style: none inside none;

}

.abc.container ul li > svg {
    margin-bottom: 2px;
}

.abc.container ul li {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #454442;
}

.abc-navigation {
    display: flex;
    justify-content: space-between;
    /*margin: 15px 0;*/
}

.abc-navigation a:hover {
    color: var(--app-orange);
    text-decoration: none;
}

.abc.container ul {
    list-style-image: url("../img/icon/Ellipse 31.svg");
}

.abc.container ul li {
    margin-bottom: 5px;
}

.abc-navigation a {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: -0.026em;
    text-transform: uppercase;
    margin: 20px 0;
    color: #7F7F7F;
}

.abc-search {
    position: relative;
}

.abc-search img {
    position: absolute;
    left: 10px;
    width: 17px;
    top: 17px;
}

.abc-search input {
    padding: 10px 10px 10px 35px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
}

.contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 205px;
}

.contacts a:hover {
    color: inherit;
}

.contacts > ul {
    margin-bottom: 30px;
}

.contacts > ul > li {
    margin-bottom: 15px;
}

.map.container iframe {
    width: 100%;
}

.write_to_doctor.container h1:not(.title),
.write_to_doctor.container h2,
.write_to_doctor.container p:not(.desc) {
    max-width: 66%;
}

ul.timeline > li {
    position: relative;
}

ul.timeline > li > a {
    position: absolute;
    left: -13px;
    color: #C4C4C4;
}

ul.timeline > li > a.up {
    top: 20px;
    transform: rotate(180deg);
}

ul.timeline > li > a.down {
    top: 60px;
}

ul.timeline > li > a.active {
    color: var(--app-orange);
}

ul.timeline > li > a:hover {
    /*color: var(--app-orange);*/
    cursor: default;
}

.treatment_program.container ul.timeline {
    margin-left: 75px;
}

@keyframes crossAnimation {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

