table td{
    vertical-align:middle !important;
    text-align: center;
}
table img{
    width: 75px !important;
    height: 75px !important;
    object-fit: cover;
}
.accordion .btn-link,
.accordion .btn-link:focus{
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}
